<!-- MODAL EFFECTS -->
<div class="modal fade" id="modal-delete-project">
  <div class="modal-dialog text-center" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Message Warning</h6>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>This action will delete this project!!!</h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" id="btn-delete-project">Delete</button>
        <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
