<div class="modal fade" id="import-document">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Add New Document</h6>
        <button
          aria-label="Close"
          class="btn-close"
          data-bs-dismiss="modal"
          type="button"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <input
            id="file"
            type="file"
            name="files"
            accept=".xlsx, .pptx, .docx"
            multiple
            class="input-file"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn ripple btn-primary"
          type="button"
          id="btn-import-document"
          id="load-documents"
        >
          Add
        </button>
        <button
          class="btn ripple btn-danger"
          data-bs-dismiss="modal"
          type="button"
        >
          cancel
        </button>
      </div>
    </div>
  </div>
</div>
